<html>
<head>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: purple;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
</head>
   <body>
<div>
      <form action = "http://localhost:5000/insert" method = "POST">
         <label>firstname</label><input type = "text" name = "firstname" placeholder="firstname" />
         <label>lastname</label><input type = "text" name = "lastname" placeholder="lastname" />
         <label>hno</label><input type = "text" name = "hno" placeholder="hno" />
         <label>street</label><input type = "text" name = "street" placeholder="street" />
         <label>city</label><input type = "text" name = "city" placeholder="city" />
         <label>pin</label><input type = "text" name = "pin" placeholder="pin" />
         <label>cell</label><input type = "text" name = "cell" placeholder="cell" />
         <label>email</label><input type = "text" name = "email" placeholder="email" />
'        <label>remarks</label><input type = "text" name = "remarks" placeholder="remarks" />      
         <p><input type = "submit" value = "submit" /></p>
	{{ result }}
      </form>
</div>
   </body>
</html>